@import "../../variables";

.root {
  display: flex;
  flex-direction: column;
  align-items: end;
  padding: 8px 0 8px 16px;
  transition: background .2s linear;

  .link {
    display: flex;
    align-items: end;
    padding-right: 20px;

    &:hover {
      cursor: pointer;

      .title {
        text-decoration: underline;
      }
    }

    &:focus,
    &:focus-visible {
      outline: none;
      text-decoration: underline;
    }
  }

  &.active {
    background: $grey-light;

    .link {
      padding-right: 10px;
    }

    .title {
      font-weight: bold;
    }
  }

  &.activeGroup {
    background: $grey-light;
  }
}
